*{
  padding: 0%;
  margin: 0%;
}

.AppContainer {
  position: relative;
  max-height: 25vh;
  max-width: 35vh;
  padding: 50px;
  background: rgba(248, 246, 246, 0.2);
  box-shadow: 0 5px 12px rgba(0, 0, 0, .5);
  border-radius: 2vh;
  margin-left: 75vh;
  margin-top: 12vh;

}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* 
display: flexbox;
  margin-left: 75vh;
  margin-top: 12vh;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 35vh;
  padding: 8vh;
  border-radius: 2vh;
  background: rgb(241, 238, 238); */