*{
  padding: 0%;
  margin: 0%;
}

.AppContainer {
  position: relative;
  max-height: 25vh;
  max-width: 35vh;
  padding: 50px;
  background: #f1f2f6;
  border-radius: 1vh;
  margin-left: 80vh;
  margin-top: 12vh;

}

.header {
  padding: 60px;
  text-align: center;
  background:#f1f2f6;
  color:#192a56;
  font-size: 30px;
}

.Img{
  max-width: 40%;
  max-height: 40%;
}
/* 
display: flexbox;
  margin-left: 75vh;
  margin-top: 12vh;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 35vh;
  padding: 8vh;
  border-radius: 2vh;
  background: rgb(241, 238, 238); */
